@import './utils/vars';
@import './utils/globals';
@import './components/header';
@import './components/logo';
@import './components/footer';
@import './components/buy-section';
@import './components/modal';
@import './components/our-customers';
@import './components/our-range';
@import './components/our-team';
@import './components/our-strenghts';
@import './components/portfolio-boxes';
@import './components/portfolio-categories';
@import './components/social-icons';
