.offer {
  background-color: $background-dark;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url('../images/mobile-background-main-image@2x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 0px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
    color: $text-white;
  }

  &__button {
    background: $light-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    letter-spacing: 0.06em;
    color: $text-white;
    padding: 10px 42px;
    display: flex;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

@include tablet {
  .offer {
    background-color: $background-dark;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url('../images/tablet-background-main-image@2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__content {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 118px 201px;
    }

    &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 30px;
      color: $text-white;
    }

    &__button {
      background: $light-blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
      border: none;
      letter-spacing: 0.06em;
      color: $text-white;
      padding: 10px 41px;
      display: flex;
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.85;
    }
  }
}
