.header {
  border-bottom: 1px solid #ececec;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 25px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 46px;
    padding-left: 93px;
  }
  &__nav-item {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $main-black;
    letter-spacing: 0.02em;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $light-blue;
    }
    &:hover::after,
    &:focus::after {
      content: '';
      position: absolute;
      display: block;
      top: 46px;
      width: 100%;
      height: 4px;
      background-color: $light-blue;
      border-radius: 2px;
    }
  }
  &__nav-item--active {
    color: $light-blue;
    position: relative;
    text-decoration: none;
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 46px;
      width: 100%;
      height: 4px;
      background-color: $light-blue;
      border-radius: 2px;
    }
  }
  &__contacts {
    display: flex;
    gap: 50px;
    padding-right: 12px;
    padding-top: 1px;
    & :hover,
    & :focus {
      color: $light-blue;
      fill: $light-blue;
    }
  }
  &__contacts-item {
    text-decoration: none;
    color: $text-grey;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__contacts-item-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
}
