.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle svg:hover,
.menu-toggle svg:focus {
  fill: $light-blue;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: $text-white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $main-black;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}
.mobile-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 302px;
  padding-left: 0px;
}
.mobile-menu__link {
  color: $main-black;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;
}
.mobile-menu__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $light-blue;
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $text-grey;
  text-decoration: none;
}

.mobile-menu__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $light-blue;
}
.mobile-menu__socials {
  display: flex;
  align-items: center;
}
.mobile-menu__line {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
