.our-customers {
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0px;
  }
  &__logo {
    display: flex;
    gap: 30px;
  }
  &__logo-item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $icon-grey;
    padding: 17.71px 32px 14.25px 32px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $light-blue;
      border: 1px solid $light-blue;
      outline: none;
    }
  }
}
