.our-range {
  margin-top: -94px;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 50px;
  }
  &__images {
    display: flex;
    gap: 30px;
  }
  &__images-item {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__images-text {
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-white;
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
  }
}
