* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-black);
}
.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

svg {
  vertical-align: middle;
}
