$light-blue: #2196f3;
$text-grey: #757575;
$text-white: #ffffff;
$button-grey-background: #f5f4fa;
$addres-color: rgba(255, 255, 255, 0.6);
$background-dark: #2f303a;
$footer-contacts: #ffffff99;
$logo-black: #000000;
$main-black: #212121;
$icon-grey: #afb1b8;
$grey-icon-bg: #ffffff1a;
